<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>

<body class="container">



<h1>All Events</h1>

<nav th:replace="fragments :: navigation"> </nav>


<h2 th:unless="${events} and ${events.size()}">No events found!</h2>


<img th:src="@{/images/BlkStdSchnauzer2.jpg}"/>

<table class = "table table-striped">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Location
            </th>
        </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td th:text="${event.id}"></td>
        <td th:text="${event.name}"></td>
        <td th:text="${event.description}"></td>
        <td th:replace = "fragments :: address"></td>
    </tr>
</table>

</body>
</html>